<!DOCTYPE html>
<html>
<head>
    <link href="Styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/Scripts.js" type="text/javascript"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">        
        <table>
            <thead>
                <tr>
                    <th>SlotNumber</th>
                    <th>Parking Status</th>
                    <th>Change park status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="park in parkingStatus">
                    <td>{{ park.name }}</td>
                    <td>{{ park.Parkstatus }}</td>
                    <td>
                        <input type="button" value="empty" ng-click="parkstatusempty(park)">
                    </td>
                    <td>
                        <input type="button" value="occupied" ng-click="parkstatusoccupied(park)">
                    </td>
            </tbody>
        </table>
    </div>
</body>
</html>
